// Brand Colors

$purple: #9e2064;
$blue: #2779a8;
$green: #a6ce39;
$yellow: #fdb714;
$red: #c63d27;
$header: #ece0e7;


$light-gray: #e6e6e6;
$medium-gray: #cacaca;
$dark-gray: #8a8a8a;
$black: #0a0a0a;
$white: #fefefe;


// Background Colors
.purple {
  background: $purple;
}
.blue {
  background: $blue;
}
.green {
  background: $green;
}
.yellow {
  background: $yellow;
}
.red {
  background: $red;
}
.light-gray {
  background: $light-gray;
}
.medium-gray {
  background: $medium-gray;
}
.dark-gray {
  background: $dark-gray;
}
.dark-gray {
  background: $medium-gray;
}



// Text Colors
.purple-txt {
  color: $purple;
}
.blue-txt {
  color: $blue;
}
.green-txt {
  color: $green;
}
.yellow-txt {
  color: $yellow;
}
.red-txt {
  color: $red;
}