img.logo {
	float: left;
	margin: 10px 0;	
}

.object-fit {
    background-size: auto;
    background-repeat: no-repeat;
}

div.top-bar-right {
	margin-top: 50px
}

// Card
.card {
	border-top: 2px solid $yellow;
	min-height: 225px; 
	max-height: 300px;
	
		.title {
			position: relative;
			top: 160px;
			
		h5 {
			text-align: left;
			color: $white;
			margin: 10px;
			a {
				color: $white;
			}
		}	
	}
}

.box {
  display: flex;
  align-items: stretch;
  width: 100vw;
}

.donate {
	display: -webkit-flex;
    display: flex;
    height: 400px;
}

.b-c {
	display: -webkit-flex;
    display: flex;
    height: 200px;
}

.banner {
    background-repeat: no-repeat;
    background-position: left;
    background-size: cover;   
}


.btn-float {
    position: relative;
    bottom: 80px;
    left: 0;
    z-index: 3;
}

.btn-160 {
    min-width: 160px;
}

    .tabs {
        margin: 0;
        border: none ;
        border-bottom: 1px solid #e6e6e6;
        background: #fefefe;
        list-style-type: none;
    }
